/* author: @ren_hx */

body {
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

section {
	position:relative;
	width:100%;
	height:500px;
	display:block;
	overflow:hidden;
}

#cover {
	background-color:#fffbf5;
}

.content {
	position:relative;
	top:50%;
	width:100%;
	margin:0 auto;
/* 	padding: 0 10%; */
	margin-top:-50px;
}

.content2 {
	padding:0 8%;
}

.content h1 {
	width:100%;
	margin:0 auto;
	text-align:center;
}

h1 {
	font-family:'Dosis',sans-serif;
	font-size:80px;
	font-weight:400;
	animation-delay:250ms;
	-webkit-animation-delay:250ms;
	-moz-animation-delay:250ms;
	-ms-animation-delay:250ms;
	-o-animation-delay:250ms;
}

h2 {
	font-family:'Dosis',sans-serif;
	font-size:50px;
	font-weight:400;
}

h3 {
	font-size:25px;
	font-weight:700;
}

#about {
/* 	background-color:#f1c40f; */
	background-color:#F2B33D;
}

#member {
/* 	background-color:#043d5d; */
	background-color:#03658C;
	
	height: auto;
	padding-bottom: 30px;
}

.white {
	color:#fff;
}

.text_box {
	width:30%;
	overflow:hidden;
	float:left;
	margin-left:3%;
}

.text_box h3 {
	color:#C2730D;
	margin:0;
}

.text_box p {
	margin:1em 0;
}

.identitys {
    margin-bottom: 100px;
}

.identity {
    width: 150px;
    
    float: left;
    margin: 0 5% 30px 30px;
}

.identity img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}